apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: frontend-route
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: backend-route
namespace: staging
images:
- name: PROJECT/BACKEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/backend
  newTag: staging-5555c667d1cec73d1a5116020670594c1562791c
- name: PROJECT/BROADCASTER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/broadcaster
  newTag: staging-d6c3b4f207ad607bd532b1fee662ab7feea75b92
- name: PROJECT/DB_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/mongo
  newTag: staging-d6c3b4f207ad607bd532b1fee662ab7feea75b92
- name: PROJECT/FRONTEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/frontend
  newTag: staging-d6c3b4f207ad607bd532b1fee662ab7feea75b92
- name: PROJECT/IMAGEFINDER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/image-finder
  newTag: staging-d6c3b4f207ad607bd532b1fee662ab7feea75b92
