apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: frontend-route
- patch: |
    - op: replace
      path: /spec/hostnames
      value:
        - www.thomastoumasu.xx.kg
  target:
    kind: HTTPRoute
    name: backend-route
namespace: staging
images:
- name: PROJECT/BACKEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/backend
  newTag: staging-456d25ca3c5699b7fd6d7d67bfccfb945d6a49aa
- name: PROJECT/BROADCASTER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/broadcaster
  newTag: staging-456d25ca3c5699b7fd6d7d67bfccfb945d6a49aa
- name: PROJECT/DB_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/mongo
  newTag: staging-456d25ca3c5699b7fd6d7d67bfccfb945d6a49aa
- name: PROJECT/FRONTEND_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/frontend
  newTag: staging-456d25ca3c5699b7fd6d7d67bfccfb945d6a49aa
- name: PROJECT/IMAGEFINDER_IMAGE
  newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/image-finder
  newTag: staging-456d25ca3c5699b7fd6d7d67bfccfb945d6a49aa
