apiVersion: apps/v1
kind: Deployment
metadata:
  name: pingpong-dep
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      containers:
        - name: pingpong
          image: thomastoumasu/k8s-pingpong:2.7
          env:
            - name: PORT
              value: '3002'
            - name: DATABASE_URL
              value: 'postgres://postgres:mysecretpassword@postgres-svc:5432/postgres'
      initContainers:
        - name: init-postgres
          image: busybox:1.28
          command:
            [
              'sh',
              '-c',
              'until nslookup postgres-svc.exercises.svc.cluster.local; do echo waiting for postgres db to startup; sleep 2; done',
            ]
