apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./mongo-config-map.yaml
  - ./mongo-statefulset_gke.yaml
  - ./backend-deployment_gke_gat.yaml
  - ./backend-route_gke.yaml
  - ./backend-lb-healthcheckpolicy.yaml
  - ./persistentvolumeclaim_gke.yaml
  - ./frontend-deployment_gke_gat.yaml
  - ./frontend-route_gke.yaml
  - ./frontend-lb-healthcheckpolicy.yaml
images:
  - name: PROJECT/DB_IMAGE # set by github actions for deployment on gke
    # newName: mongo # if gke without github actions
    # newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/mongo:main-e54246b2b18f2e3afaee812f73826edffc8a4c2f
  - name: PROJECT/BACKEND_IMAGE
    # newName: thomastoumasu/k8s-backend:3.3-amd
    # newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/backend:main-e54246b2b18f2e3afaee812f73826edffc8a4c2f
  - name: PROJECT/IMAGEFINDER_IMAGE
    # newName: thomastoumasu/k8s-image-finder:3.3-amd
    # newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/image-finder:main-e54246b2b18f2e3afaee812f73826edffc8a4c2f
  - name: PROJECT/FRONTEND_IMAGE
    # newName: thomastoumasu/k8s-frontend:3.3b-amd
    # newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/frontend:main-e54246b2b18f2e3afaee812f73826edffc8a4c2f
  - name: PROJECT/BROADCASTER_IMAGE
    # newName: europe-north1-docker.pkg.dev/dwk-gke-480809/my-repository/broadcaster:main-e54246b2b18f2e3afaee812f73826edffc8a4c2f
