name: Delete branch development environment on branch deletion
on:
  delete:

jobs:
  delete-environment:
    if: github.event.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - name: Set namespace to delete
        run: echo "NAMESPACE=${{ github.event.ref }}" >> $GITHUB_ENV
      - name: Delete development environment
        run: |
          kubectl delete all --all -n $NAMESPACE
          kubectl delete gateway my-gateway -n $NAMESPACE
          kubectl delete $(kubectl get httproutes -o name -n $NAMESPACE)
          kubectl delete namespace $NAMESPACE
      - name: Delete corresponding images
        run: |
          echo "would be nice, try when spare time"
