name: Delete branch development environment on branch deletion
on:
  delete:

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  REPOSITORY_LOCATION: europe-north1
  REPOSITORY: my-repository

jobs:
  delete-environment:
    if: github.event.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - name: 'Use gcloud CLI'
        run: gcloud info

      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'

      - name: Set namespace to delete
        run: echo "NAMESPACE=${{ github.event.ref }}" >> $GITHUB_ENV

      - name: Delete development environment
        run: |
          kubectl delete all --all -n $NAMESPACE
          kubectl delete $(kubectl get httproutes -o name -n $NAMESPACE) -n $NAMESPACE
          kubectl delete namespace $NAMESPACE

      - name: Create delete policy file to delete images
        run: >-
          echo \
          '[
            {
              "name": "delete-branch-images",
              "action": { "type": "Delete" },
              "condition": {
                "tagState": "tagged",
                "tagPrefixes": ["'$NAMESPACE'"]
              }
            }
          ]'
          > delete-policy.json

      - name: Delete images
        run: gcloud artifacts repositories set-cleanup-policies $REPOSITORY --project=$PROJECT_ID --location=$REPOSITORY_LOCATION --policy='delete-policy.json' --no-dry-run
