name: Delete branch development environment on branch deletion
on:
  delete:

jobs:
  delete-environment:
    if: github.event.ref_type == 'branch'
    runs-on: ubuntu-latest
    steps:
      - name: Delete development environment
        run: |
          echo "NAMESPACE=${{ github.event.ref }}" >> $GITHUB_ENV
          kubectl delete all --all -n $NAMESPACE
      - name: Delete corresponding images
        run: |
          echo "would be nice, try when spare time"
